[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
mistune = "*"
django-ckeditor = "*"
pillow = "*"
django-tinymce = "*"

django-crispy-forms = "*"
django-rest-framework = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework-jwt = "*"
dal = "*"
crispy-forms = "*"
django-import-export = "*"
django-reversion = "*"
django-formtools = "*"
future = "*"
httplib2 = "*"
six = "*"
xlwt = "*"
xlsxwriter = "*"
django = "==2.2.6"
mysqlclient = "*"

[requires]
python_version = "3.7"
